.listProductWrapper {
  width: $w100;
  :global {
    .list-product_title {
      margin: $s48 auto;
      width: $w80;
      h3 {
        font-weight: $medium;
        font-size: 2.5rem;
        line-height: 2.75rem;
      }
    }
    .swipper-product {
      margin-left: $w10;
      .swiper-wrapper {
        width: 90%;
      }
    }
    .swiper-scrollbar {
      background-color: #e8ecef;
      position: static !important;
      width: calc(80vw - 14px) !important;
      margin-top: $s48;
      .swiper-scrollbar-drag {
        background-color: #343839;
      }
    }
    @include media-breakpoint-down(sm) {
      .list-product_title {
        margin: $s32 auto $s40;
        padding: 0 $s32;
        width: auto;
        h3 {
          font-weight: $medium;
          font-size: 2.125rem;
          line-height: 2.375rem;
        }
      }
      .swipper-product {
        margin-left: $s32;
      }
      .swiper-scrollbar {
        width: calc(100vw - $s64 - 17px) !important;
        margin-top: $s40;
      }
    }
  }
}
