.headingHomeWrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: auto;
  padding: $s32 0 $s40;
  div{
    display: flex;
    flex-direction: column;
    span{
      font-size: 4.5rem;
      line-height: 5.5rem;
      text-wrap: nowrap;
      font-weight:$medium ;
      letter-spacing: -0.125rem;
    }
  }
  p{
    font-size: $f16;
    line-height: 1.625rem;
    color:$text-primary-blur ;
    max-width: 28.3125rem;
    b{
      font-weight: $semibold;
      color:$text-primary-dark;
    }
  }
  @include media-breakpoint-down(md){
    flex-direction: column;
    gap: $s16 0;
    align-items: flex-start;
    div{
      span{
        font-size:2.5rem;
        font-weight: $semibold;
        letter-spacing: -0.025rem;
        line-height: 3rem;
      }
    }
    p{
      font-size:$f14;
      line-height: 1.375rem;
    }
  }
  @include media-breakpoint-between(md,lg){
    div>span{
      font-size: 3rem;
      line-height:4rem
    }
  }
}
.mainProduct{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 80%;
  margin: auto;
  gap: $s24 $s24;
  :global{
    .product-card{
      position: relative;
      grid-column:span 1;
      grid-row:span 1;
      .product-content{
        position: absolute;
        left: $s48;
        bottom: $s48;
        h3{
          font-size: 2.125rem;
          font-weight: $semibold;
          line-height: 2.375rem;
        }
        .shop-now{
          display: flex;
          align-items: center;
          gap: 0 $s4;
          border-bottom: 1px solid transparent;
          span{
            font-size: $f16;
            font-weight: $medium;
            line-height: 1.75rem;
            letter-spacing: -0.025rem;
          }
          &:hover{
            border-bottom: 1px solid $text-primary-dark;
          }
        }
      }
      img{
        object-fit: cover;
        z-index: -1;
      }
      &:first-child{
        grid-column:span 1;
        grid-row:span 2;
        aspect-ratio: 1.6529 /2!important ;
        .product-content{
          top: $s48;
        }
      }
    }
    @include media-breakpoint-down(md){
      &{
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: $s16;
        .product-card{
          grid-column:span 1;
          grid-row:auto;
          aspect-ratio:3.4364/2 ;
          .product-content{
            left: $s32;
            bottom: $s32;
            h3{
              font-size: 1.75rem;
              font-weight: $medium;
              line-height: 2.125rem;
            }
            .shop-now{
              span{
                font-size: $f14;
                line-height: $s24;
              }
            }
          }
          &:first-child{
            grid-column: span 1;
            grid-row: 1 / 2;
            .product-content{
              top: $s32;
            }
          }

        }
        }
      }
  }
}