.listProductWrapper {
  width: $w100;
  position: relative;
  padding-bottom: 3.25rem;
  :global {
    .list-product_title {
      margin: $s48 auto;
      width: $w80;
      h3 {
        font-weight: $medium;
        font-size: 2.5rem;
        line-height: 2.75rem;
      }
    }
    .swiper-darkmode > .swiper-scrollbar {
      background-color: #343839;
    }
    .swiper-product {
      width: 90%;
      margin-left: 10%;
      position: static;
      .swiper-wrapper {
        width: $w100;
      }
    }
    .swiper-scrollbar {
      background-color: #e8ecef;
      position: absolute !important;
      width: 80% !important;
      left: 10% !important;
      .swiper-scrollbar-drag {
        background-color: #343839;
        cursor: pointer;
      }
      .scroll-bar_dark {
        background: $border-color-base;
      }
    }
    @include media-breakpoint-down(sm) {
      & {
        padding-bottom: 2.5rem;
        .list-product_title {
          margin: $s32 auto $s40;
          padding: 0 $s32;
          width: auto;
          h3 {
            font-weight: $medium;
            font-size: 2.125rem;
            line-height: 2.375rem;
          }
        }
        .swiper-product {
          margin-left: $s32;
          width: calc($w100 - $s32);
          .swiper-wrapper {
            width: $w100;
          }
        }
        .swiper-scrollbar {
          margin-top: $s40;
          width: calc($w100 - $s64) !important;
          left: $s32 !important;
        }
      }
    }
  }
}
