.headerWrapper{
  height: 3.75rem;
  width: 80%;
  margin: auto;
  :global {
    .header-logo>button{
      @include media-breakpoint-up(ipadair){
        display: none;
      }
    }
    ul{
      @include media-breakpoint-up(ipadair){
        &{
          display: flex;
        }
      }
      &>li>a{
        font-size: $f16;
        line-height: $lh125;
        font-weight:$semibold;
        text-wrap: nowrap;
      }
    }
    .menu_active{
    }
    .menu_link{
      color:$text-primary-blur;
    }
    .index_ellipseParent{
      background-color: $text-primary-dark;
      color:$text-primary-light;
      width: 1.25rem;
      height: 1.25rem;
      border-radius: 50%;
      font-size: $f12;
      font-weight: $bold;
    }
  }
}
