.headerWrapper{
  height: 3.75rem;
  width: 80vw;
  margin: auto;
  :global {
    .header-logo>button{
      @include media-breakpoint-up(md){
        display: none;
      }
    }
    ul>li>a{
      font-size: $f16;
      line-height: $lh125;
      font-weight:$fw600;
      text-wrap: nowrap;
    }
    .menu_active{
      color: $text-primary;
    }
    .menu_link{
      color:$text-primary-blur;
    }
    .index_ellipseParent{
      background-color: $text-primary;
      width: 1.25rem;
      height: 1.25rem;
      border-radius: 50%;
      color: white;
      font-size: $f12;
      font-weight: $fw700;
    }
  }
}
