.headerWrapper {
  width: $w80;
  height: 3.75rem;
  margin: auto;

  :global {
    .header-logo > button {
      @include media-breakpoint-up(ipadair) {
        display: none;
      }
    }

    ul {
      @include media-breakpoint-up(ipadair) {
        & {
          display: flex;
        }
      }

      & > li > a {
        font-size: $f16;
        font-weight: $semibold;
        line-height: $lh125;
        text-wrap: nowrap;
      }
    }

    .menu_link {
      color: $text-primary-blur;
    }
  }
}
.menu_mobile {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  justify-content: space-between;
  ul {
    width: $w100;
    li {
      font-size: $f14;
      line-height: 1.5rem;
      padding: $s16 0;
      font-weight: $medium;
      width: $w100;
      text-align: start;
      color: $text-primary-dark;
      border-bottom: 1px solid $border-color-base;
    }
  }
}
