.newsletterWrapper {
  background: url(https://ucarecdn.com/5ef60bb0-c4a0-491b-82b8-099b28fbbd00/imageplaceholder122x.png) no-repeat center;
  width: $w100;
  min-height: 22.5rem;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-origin: padding-box;
  gap: 1rem 0rem;
  :global {
    h2 {
      font-size: 2.5rem;
      font-weight: 600;
      line-height: 2.75rem;
      text-align: center;
    }
    p {
      font-size: $f18;
      line-height: 1.875rem;
      text-align: center;
    }
    input {
      font-size: $f16;
      line-height: 1.75rem;
      font-weight: $medium;
    }
    @include media-breakpoint-down(sm) {
      & {
        padding: 0 $s32;
        h2 {
          font-size: $f28;
          line-height: 34px;
        }
        p {
          font-size: $f14;
          line-height: 1.375rem;
          padding: 0 1rem;
        }
        form {
          position: relative;
          span {
            position: absolute;
          }
          button {
            background: transparent;
            color: $neutral_04;
            border: none;
            box-shadow: none;
            position: absolute;
            right: 0;
            font-size: $f16;
            padding: 0;
            line-height: 1.75rem;
            font-weight: $medium;
            &:hover {
              background: transparent;
            }
          }
          input {
            width: $w100;
            border: none;
            box-shadow: none;
            border-bottom: 1px solid $neutral_04;
            border-radius: 0;
            padding: 0;
            margin: 0 !important;
            padding-left: 30px;
            &::placeholder {
              color: $neutral_04;
              font-size: $f16;
              line-height: 1.75rem;
              font-weight: $medium;
            }
            &:focus-visible {
              outline: none;
              box-shadow: none;
            }
          }
        }
      }
    }
  }
}
