.signUpPageWrapper {
  display: flex;
  height: 100vh;
  overflow: hidden;
  :global {
    .sign-background {
      background: url(https://ucarecdn.com/fefffdc2-a4e7-4590-a8eb-3805648f7821/e4116bbec61f2224bc95dd2233dcdf16.jpg);
      width: 50%;
      background-repeat: no-repeat;
      background-size: cover;
      background-origin: content-box;
      background-position: center;
      a {
        margin-top: $s32;
      }
    }
    .sign-form {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding-left: 5%;
      padding-right: 10%;
      width: 50%;
      &_title {
        font-size: 2.5rem;
        line-height: 2.75rem;
        padding-bottom: $s24;
        text-align: left;
        width: $w100;
      }
      &_question {
        font-size: $f16;
        line-height: 1.625rem;
      }
      &_link {
        font-size: $f16;
        line-height: 1.625rem;
        font-weight: $semibold;
        color: $secondary_green;
      }
      form {
        width: 100%;
        min-width: 12.5rem;
        input {
          border: 0px solid$neutral_03;
          outline: none;
          box-shadow: none;
          border-bottom: 1px solid;
          border-radius: 0px;
          margin-top: $s32;
          padding: 0px 0 0.875rem 0;
          font-size: $f16;
          line-height: 1.625rem;
        }
        .privacy_security {
          label {
            font-size: $f16;
            line-height: 1.625rem;
          }
          a {
            font-size: $f16;
            line-height: 1.625rem;
            font-weight: $semibold;
          }
        }
        button.button-submit {
          margin-top: $s32;
          width: 100%;
          padding: 0.625rem 0;
          font-size: $f16;
          line-height: 1.75rem;
          font-weight: $medium;
          height: $s48;
        }
      }
    }
    @include media-breakpoint-down(md) {
      & {
        flex-direction: column;
        height: auto;
        .sign-background {
          width: 100%;
          aspect-ratio: 0.872;
        }
        .sign-form {
          width: 100%;
          padding: 2.5rem $s32;

          align-items: flex-start;
          .form-remember > a {
            font-size: $f12 !important;
            line-height: 1.25rem !important;
          }
        }
      }
    }
  }
}
