.shopPageWrapper{
  display: grid;
  column-gap: 1rem;
  height: 10rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: [row1-start] 1fr [row1-end] 1fr [row2-start];

    :global(html){
    .item-a{
      grid-row: row1-start / row2-start;
    }

    .item-d{
      grid-row: row1-start / row2-start;
    }
  }
}