.shopPageWrapper {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  color: $neutral_07;

  :global {
    .shop-banner {
      background-image: url('https://ucarecdn.com/5f2e640c-5466-44e5-8905-a780d6f9cfbd/imageplaceholderheader2x.png');
      aspect-ratio: 2.85;
      background-size: cover;
      @include flex-col-center();
      gap: $s24 0;
      h2 {
        font-size: 3.375rem;
        line-height: 3.625rem;
        font-weight: $medium;
        color: $neutral_07;
      }
      p {
        font-size: $f20;
        line-height: 2rem;
        color: $neutral_08;
        text-align: center;
      }
    }
    .shop-content {
      .filter-type {
        @include flex-col-between();
        align-items: start;
        gap: $s32 0;
        .filter-title {
          display: flex;
          align-items: center;
          gap: 0 $s4;
          h2 {
            font-size: 1.25rem;
            line-height: $s32;
            font-weight: $semibold;
          }
        }
        .title-category {
          font-size: $f16;
          line-height: 1.625rem;
          font-weight: $semibold;
          margin-bottom: $s16;
        }
        .filter-categories {
          div {
            @include flex-col-between();
            align-items: start;
            gap: $s12 0;
            min-width: 15.875rem;
            overflow-y: auto;
            max-height: 14.125rem;
            span {
              color: #807e7e;
              font-weight: $semibold;
              font-size: $f14;
              line-height: 1.375rem;
              cursor: pointer;
              border-bottom: 1px solid transparent;
              &:hover {
                color: $neutral_08;
                border-bottom: 1px solid $neutral_08;
              }
            }
          }
          ::-webkit-scrollbar-track {
            background-color: $neutral_03;
            border-radius: 3.125rem;
          }
          ::-webkit-scrollbar-thumb {
            background-color: $neutral_04;
          }
        }
        .filter-prices {
          div {
            @include flex-between();
            min-width: 15.875rem;
            label {
              color: #807e7e;
              font-weight: $semibold;
              font-size: $f14;
              line-height: 1.375rem;
              cursor: pointer;
            }
          }
        }
      }
    }
    @include media-breakpoint-down(sm) {
      .shop-banner {
        aspect-ratio: 1.097;
        gap: $s16 0;
        h2 {
          font-size: 2.5rem;
          line-height: 44px;
        }
        p {
          font-size: $f16;
          line-height: 1.625rem;
        }
      }
    }
  }
}
